/*
* Creates a Analyze warning, but is necessary for style in the program.
*/
.root{
  -fx-background-color: #0A1A27;
}

/*
* Creates a Analyze warning, but is necessary for style in the program.
*/
.label{
  -fx-text-fill: white;
}

.choice-box . label{
  -fx-text-fill: black;
}

.table-view .label{
  -fx-text-fill: #0A1A27;
}



